body, img, ul, li, a {
  margin: 0px;
  padding: 0px; }

body {
  font-family: 'Courier New', Courier, 'Nimbus Mono L', monospace;
  font-size: 16px; }

img {
  width: 15px;
  height: 15px; }

a {
  text-decoration: none;
  color: #5e5e5e; }

ul {
  list-style-type: none; }

#wrapper > ul {
  position: relative; }

#wrapper > ul > li {
  display: inline-block;
  border-right: 1px solid black;
  padding: 5px 15px;
  border-bottom: 1px solid black; }

#wrapper > ul > li > a {
  color: #777777;
  font-size: 1.2em; }

#wrapper > ul > li:last-child {
  display: inline-block;
  border-right: none; }

#wrapper > ul > li ul {
  display: none; }

#wrapper ul li:hover {
  border-bottom: none; }

#wrapper ul li:hover ul {
  display: block;
  position: absolute;
  left: -1px;
  top: 32px;
  background: #cccccc;
  width: 440px;
  border: 1px solid black;
  border-top: none;
  padding: 5px 15px; }

#wrapper {
  margin-left: 25px;
  margin-top: 25px;
  width: 470px;
  height: auto;
  border-radius: 15px 15px 0px 0px;
  border: 1px solid black;
  border-bottom: none;
  background: #ababab;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ababab 0%, #cccccc 51%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ababab), color-stop(51%, #cccccc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ababab 0%, #cccccc 51%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ababab 0%, #cccccc 51%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ababab 0%, #cccccc 51%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ababab 0%, #cccccc 51%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ababab', endColorstr='#cccccc',GradientType=0 );
  /* IE6-9 */ }

.content li {
  margin-bottom: 10px; }
  .content li a:hover {
    text-decoration: underline; }
  .content li a:first-child {
    padding: 10px 0px; }

.content li:last-child {
  margin-bottom: 0px; }

