@model IList<MoviesSystem.Models.Movie>

@for (int i = 0; i < Model.Count(); i++)
{
    <ul>
        <li><strong>Title: @Model[i].Title</strong></li>
        <li>Director: @Model[i].Director</li>
        <li>Year: @Model[i].Year</li>
    </ul>
}
